<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjpowernode.p2padmin.creditor.mapper.CreditorRightsMapper" >
  <resultMap id="BaseResultMap" type="com.bjpowernode.p2padmin.creditor.model.CreditorRights" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="apply_no" property="applyNo" jdbcType="VARCHAR" />
    <result column="into_source" property="intoSource" jdbcType="INTEGER" />
    <result column="apply_product" property="applyProduct" jdbcType="INTEGER" />
    <result column="apply_money" property="applyMoney" jdbcType="DOUBLE" />
    <result column="apply_term" property="applyTerm" jdbcType="INTEGER" />
    <result column="apply_purpose" property="applyPurpose" jdbcType="VARCHAR" />
    <result column="borrower_realname" property="borrowerRealname" jdbcType="VARCHAR" />
    <result column="borrower_idcard" property="borrowerIdcard" jdbcType="VARCHAR" />
    <result column="borrower_sex" property="borrowerSex" jdbcType="INTEGER" />
    <result column="borrower_age" property="borrowerAge" jdbcType="INTEGER" />
    <result column="borrower_education" property="borrowerEducation" jdbcType="INTEGER" />
    <result column="borrower_marital" property="borrowerMarital" jdbcType="INTEGER" />
    <result column="borrower_city" property="borrowerCity" jdbcType="INTEGER" />
    <result column="borrower_present_address" property="borrowerPresentAddress" jdbcType="VARCHAR" />
    <result column="borrower_bank_account" property="borrowerBankAccount" jdbcType="VARCHAR" />
    <result column="borrower_open_bank" property="borrowerOpenBank" jdbcType="VARCHAR" />
    <result column="borrower_house_count" property="borrowerHouseCount" jdbcType="INTEGER" />
    <result column="borrower_car_count" property="borrowerCarCount" jdbcType="INTEGER" />
    <result column="borrower_work" property="borrowerWork" jdbcType="VARCHAR" />
    <result column="borrower_company_name" property="borrowerCompanyName" jdbcType="VARCHAR" />
    <result column="borrower_company_address" property="borrowerCompanyAddress" jdbcType="VARCHAR" />
    <result column="borrower_work_year" property="borrowerWorkYear" jdbcType="INTEGER" />
    <result column="borrower_month_salary" property="borrowerMonthSalary" jdbcType="DOUBLE" />
    <result column="borrower_credit_report_certification" property="borrowerCreditReportCertification" jdbcType="INTEGER" />
    <result column="borrower_credit_report_certification_time" property="borrowerCreditReportCertificationTime" jdbcType="TIMESTAMP" />
    <result column="borrower_idcard_certification" property="borrowerIdcardCertification" jdbcType="INTEGER" />
    <result column="borrower_idcard_certification_time" property="borrowerIdcardCertificationTime" jdbcType="TIMESTAMP" />
    <result column="borrower_work_certification" property="borrowerWorkCertification" jdbcType="INTEGER" />
    <result column="borrower_work_certification_time" property="borrowerWorkCertificationTime" jdbcType="TIMESTAMP" />
    <result column="borrower_income_certification" property="borrowerIncomeCertification" jdbcType="INTEGER" />
    <result column="borrower_income_certification_time" property="borrowerIncomeCertificationTime" jdbcType="TIMESTAMP" />
    <result column="borrower_house_certification" property="borrowerHouseCertification" jdbcType="INTEGER" />
    <result column="borrower_house_certification_time" property="borrowerHouseCertificationTime" jdbcType="TIMESTAMP" />
    <result column="borrower_field_certification" property="borrowerFieldCertification" jdbcType="INTEGER" />
    <result column="borrower_field_certification_time" property="borrowerFieldCertificationTime" jdbcType="TIMESTAMP" />
    <result column="audit_status" property="auditStatus" jdbcType="INTEGER" />
    <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP" />
    <result column="audit_loan_term" property="auditLoanTerm" jdbcType="INTEGER" />
    <result column="audit_loan_money" property="auditLoanMoney" jdbcType="DOUBLE" />
    <result column="contract_loan_money" property="contractLoanMoney" jdbcType="DOUBLE" />
    <result column="consulting_fee" property="consultingFee" jdbcType="DOUBLE" />
    <result column="audit_fee" property="auditFee" jdbcType="DOUBLE" />
    <result column="service_fee" property="serviceFee" jdbcType="DOUBLE" />
    <result column="access_fee" property="accessFee" jdbcType="DOUBLE" />
    <result column="year_rate" property="yearRate" jdbcType="DOUBLE" />
    <result column="put_money" property="putMoney" jdbcType="DOUBLE" />
    <result column="creditor_rights_type" property="creditorRightsType" jdbcType="INTEGER" />
    <result column="match_status" property="matchStatus" jdbcType="INTEGER" />
    <result column="collect_status" property="collectStatus" jdbcType="VARCHAR" />
    <result column="collect_finish_time" property="collectFinishTime" jdbcType="TIMESTAMP" />
    <result column="match_finish_time" property="matchFinishTime" jdbcType="TIMESTAMP" />
    <result column="loan_contract_path" property="loanContractPath" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, apply_no, into_source, apply_product, apply_money, apply_term, apply_purpose, 
    borrower_realname, borrower_idcard, borrower_sex, borrower_age, borrower_education, 
    borrower_marital, borrower_city, borrower_present_address, borrower_bank_account, 
    borrower_open_bank, borrower_house_count, borrower_car_count, borrower_work, borrower_company_name, 
    borrower_company_address, borrower_work_year, borrower_month_salary, borrower_credit_report_certification, 
    borrower_credit_report_certification_time, borrower_idcard_certification, borrower_idcard_certification_time, 
    borrower_work_certification, borrower_work_certification_time, borrower_income_certification, 
    borrower_income_certification_time, borrower_house_certification, borrower_house_certification_time, 
    borrower_field_certification, borrower_field_certification_time, audit_status, audit_time, 
    audit_loan_term, audit_loan_money, contract_loan_money, consulting_fee, audit_fee, 
    service_fee, access_fee, year_rate, put_money, creditor_rights_type, match_status, 
    collect_status, collect_finish_time, match_finish_time, loan_contract_path
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from b_creditor_rights
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from b_creditor_rights
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bjpowernode.p2padmin.creditor.model.CreditorRights" >
    insert into b_creditor_rights (id, apply_no, into_source, 
      apply_product, apply_money, apply_term, 
      apply_purpose, borrower_realname, borrower_idcard, 
      borrower_sex, borrower_age, borrower_education, 
      borrower_marital, borrower_city, borrower_present_address, 
      borrower_bank_account, borrower_open_bank, 
      borrower_house_count, borrower_car_count, borrower_work, 
      borrower_company_name, borrower_company_address, 
      borrower_work_year, borrower_month_salary, borrower_credit_report_certification, 
      borrower_credit_report_certification_time, borrower_idcard_certification, 
      borrower_idcard_certification_time, borrower_work_certification, 
      borrower_work_certification_time, borrower_income_certification, 
      borrower_income_certification_time, borrower_house_certification, 
      borrower_house_certification_time, borrower_field_certification, 
      borrower_field_certification_time, audit_status, 
      audit_time, audit_loan_term, audit_loan_money, 
      contract_loan_money, consulting_fee, audit_fee, 
      service_fee, access_fee, year_rate, 
      put_money, creditor_rights_type, match_status, 
      collect_status, collect_finish_time, match_finish_time, 
      loan_contract_path)
    values (#{id,jdbcType=INTEGER}, #{applyNo,jdbcType=VARCHAR}, #{intoSource,jdbcType=INTEGER}, 
      #{applyProduct,jdbcType=INTEGER}, #{applyMoney,jdbcType=DOUBLE}, #{applyTerm,jdbcType=INTEGER}, 
      #{applyPurpose,jdbcType=VARCHAR}, #{borrowerRealname,jdbcType=VARCHAR}, #{borrowerIdcard,jdbcType=VARCHAR}, 
      #{borrowerSex,jdbcType=INTEGER}, #{borrowerAge,jdbcType=INTEGER}, #{borrowerEducation,jdbcType=INTEGER}, 
      #{borrowerMarital,jdbcType=INTEGER}, #{borrowerCity,jdbcType=INTEGER}, #{borrowerPresentAddress,jdbcType=VARCHAR}, 
      #{borrowerBankAccount,jdbcType=VARCHAR}, #{borrowerOpenBank,jdbcType=VARCHAR}, 
      #{borrowerHouseCount,jdbcType=INTEGER}, #{borrowerCarCount,jdbcType=INTEGER}, #{borrowerWork,jdbcType=VARCHAR}, 
      #{borrowerCompanyName,jdbcType=VARCHAR}, #{borrowerCompanyAddress,jdbcType=VARCHAR}, 
      #{borrowerWorkYear,jdbcType=INTEGER}, #{borrowerMonthSalary,jdbcType=DOUBLE}, #{borrowerCreditReportCertification,jdbcType=INTEGER}, 
      #{borrowerCreditReportCertificationTime,jdbcType=TIMESTAMP}, #{borrowerIdcardCertification,jdbcType=INTEGER}, 
      #{borrowerIdcardCertificationTime,jdbcType=TIMESTAMP}, #{borrowerWorkCertification,jdbcType=INTEGER}, 
      #{borrowerWorkCertificationTime,jdbcType=TIMESTAMP}, #{borrowerIncomeCertification,jdbcType=INTEGER}, 
      #{borrowerIncomeCertificationTime,jdbcType=TIMESTAMP}, #{borrowerHouseCertification,jdbcType=INTEGER}, 
      #{borrowerHouseCertificationTime,jdbcType=TIMESTAMP}, #{borrowerFieldCertification,jdbcType=INTEGER}, 
      #{borrowerFieldCertificationTime,jdbcType=TIMESTAMP}, #{auditStatus,jdbcType=INTEGER}, 
      #{auditTime,jdbcType=TIMESTAMP}, #{auditLoanTerm,jdbcType=INTEGER}, #{auditLoanMoney,jdbcType=DOUBLE}, 
      #{contractLoanMoney,jdbcType=DOUBLE}, #{consultingFee,jdbcType=DOUBLE}, #{auditFee,jdbcType=DOUBLE}, 
      #{serviceFee,jdbcType=DOUBLE}, #{accessFee,jdbcType=DOUBLE}, #{yearRate,jdbcType=DOUBLE}, 
      #{putMoney,jdbcType=DOUBLE}, #{creditorRightsType,jdbcType=INTEGER}, #{matchStatus,jdbcType=INTEGER}, 
      #{collectStatus,jdbcType=VARCHAR}, #{collectFinishTime,jdbcType=TIMESTAMP}, #{matchFinishTime,jdbcType=TIMESTAMP}, 
      #{loanContractPath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bjpowernode.p2padmin.creditor.model.CreditorRights" >
    insert into b_creditor_rights
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="applyNo != null" >
        apply_no,
      </if>
      <if test="intoSource != null" >
        into_source,
      </if>
      <if test="applyProduct != null" >
        apply_product,
      </if>
      <if test="applyMoney != null" >
        apply_money,
      </if>
      <if test="applyTerm != null" >
        apply_term,
      </if>
      <if test="applyPurpose != null" >
        apply_purpose,
      </if>
      <if test="borrowerRealname != null" >
        borrower_realname,
      </if>
      <if test="borrowerIdcard != null" >
        borrower_idcard,
      </if>
      <if test="borrowerSex != null" >
        borrower_sex,
      </if>
      <if test="borrowerAge != null" >
        borrower_age,
      </if>
      <if test="borrowerEducation != null" >
        borrower_education,
      </if>
      <if test="borrowerMarital != null" >
        borrower_marital,
      </if>
      <if test="borrowerCity != null" >
        borrower_city,
      </if>
      <if test="borrowerPresentAddress != null" >
        borrower_present_address,
      </if>
      <if test="borrowerBankAccount != null" >
        borrower_bank_account,
      </if>
      <if test="borrowerOpenBank != null" >
        borrower_open_bank,
      </if>
      <if test="borrowerHouseCount != null" >
        borrower_house_count,
      </if>
      <if test="borrowerCarCount != null" >
        borrower_car_count,
      </if>
      <if test="borrowerWork != null" >
        borrower_work,
      </if>
      <if test="borrowerCompanyName != null" >
        borrower_company_name,
      </if>
      <if test="borrowerCompanyAddress != null" >
        borrower_company_address,
      </if>
      <if test="borrowerWorkYear != null" >
        borrower_work_year,
      </if>
      <if test="borrowerMonthSalary != null" >
        borrower_month_salary,
      </if>
      <if test="borrowerCreditReportCertification != null" >
        borrower_credit_report_certification,
      </if>
      <if test="borrowerCreditReportCertificationTime != null" >
        borrower_credit_report_certification_time,
      </if>
      <if test="borrowerIdcardCertification != null" >
        borrower_idcard_certification,
      </if>
      <if test="borrowerIdcardCertificationTime != null" >
        borrower_idcard_certification_time,
      </if>
      <if test="borrowerWorkCertification != null" >
        borrower_work_certification,
      </if>
      <if test="borrowerWorkCertificationTime != null" >
        borrower_work_certification_time,
      </if>
      <if test="borrowerIncomeCertification != null" >
        borrower_income_certification,
      </if>
      <if test="borrowerIncomeCertificationTime != null" >
        borrower_income_certification_time,
      </if>
      <if test="borrowerHouseCertification != null" >
        borrower_house_certification,
      </if>
      <if test="borrowerHouseCertificationTime != null" >
        borrower_house_certification_time,
      </if>
      <if test="borrowerFieldCertification != null" >
        borrower_field_certification,
      </if>
      <if test="borrowerFieldCertificationTime != null" >
        borrower_field_certification_time,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="auditTime != null" >
        audit_time,
      </if>
      <if test="auditLoanTerm != null" >
        audit_loan_term,
      </if>
      <if test="auditLoanMoney != null" >
        audit_loan_money,
      </if>
      <if test="contractLoanMoney != null" >
        contract_loan_money,
      </if>
      <if test="consultingFee != null" >
        consulting_fee,
      </if>
      <if test="auditFee != null" >
        audit_fee,
      </if>
      <if test="serviceFee != null" >
        service_fee,
      </if>
      <if test="accessFee != null" >
        access_fee,
      </if>
      <if test="yearRate != null" >
        year_rate,
      </if>
      <if test="putMoney != null" >
        put_money,
      </if>
      <if test="creditorRightsType != null" >
        creditor_rights_type,
      </if>
      <if test="matchStatus != null" >
        match_status,
      </if>
      <if test="collectStatus != null" >
        collect_status,
      </if>
      <if test="collectFinishTime != null" >
        collect_finish_time,
      </if>
      <if test="matchFinishTime != null" >
        match_finish_time,
      </if>
      <if test="loanContractPath != null" >
        loan_contract_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="applyNo != null" >
        #{applyNo,jdbcType=VARCHAR},
      </if>
      <if test="intoSource != null" >
        #{intoSource,jdbcType=INTEGER},
      </if>
      <if test="applyProduct != null" >
        #{applyProduct,jdbcType=INTEGER},
      </if>
      <if test="applyMoney != null" >
        #{applyMoney,jdbcType=DOUBLE},
      </if>
      <if test="applyTerm != null" >
        #{applyTerm,jdbcType=INTEGER},
      </if>
      <if test="applyPurpose != null" >
        #{applyPurpose,jdbcType=VARCHAR},
      </if>
      <if test="borrowerRealname != null" >
        #{borrowerRealname,jdbcType=VARCHAR},
      </if>
      <if test="borrowerIdcard != null" >
        #{borrowerIdcard,jdbcType=VARCHAR},
      </if>
      <if test="borrowerSex != null" >
        #{borrowerSex,jdbcType=INTEGER},
      </if>
      <if test="borrowerAge != null" >
        #{borrowerAge,jdbcType=INTEGER},
      </if>
      <if test="borrowerEducation != null" >
        #{borrowerEducation,jdbcType=INTEGER},
      </if>
      <if test="borrowerMarital != null" >
        #{borrowerMarital,jdbcType=INTEGER},
      </if>
      <if test="borrowerCity != null" >
        #{borrowerCity,jdbcType=INTEGER},
      </if>
      <if test="borrowerPresentAddress != null" >
        #{borrowerPresentAddress,jdbcType=VARCHAR},
      </if>
      <if test="borrowerBankAccount != null" >
        #{borrowerBankAccount,jdbcType=VARCHAR},
      </if>
      <if test="borrowerOpenBank != null" >
        #{borrowerOpenBank,jdbcType=VARCHAR},
      </if>
      <if test="borrowerHouseCount != null" >
        #{borrowerHouseCount,jdbcType=INTEGER},
      </if>
      <if test="borrowerCarCount != null" >
        #{borrowerCarCount,jdbcType=INTEGER},
      </if>
      <if test="borrowerWork != null" >
        #{borrowerWork,jdbcType=VARCHAR},
      </if>
      <if test="borrowerCompanyName != null" >
        #{borrowerCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="borrowerCompanyAddress != null" >
        #{borrowerCompanyAddress,jdbcType=VARCHAR},
      </if>
      <if test="borrowerWorkYear != null" >
        #{borrowerWorkYear,jdbcType=INTEGER},
      </if>
      <if test="borrowerMonthSalary != null" >
        #{borrowerMonthSalary,jdbcType=DOUBLE},
      </if>
      <if test="borrowerCreditReportCertification != null" >
        #{borrowerCreditReportCertification,jdbcType=INTEGER},
      </if>
      <if test="borrowerCreditReportCertificationTime != null" >
        #{borrowerCreditReportCertificationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="borrowerIdcardCertification != null" >
        #{borrowerIdcardCertification,jdbcType=INTEGER},
      </if>
      <if test="borrowerIdcardCertificationTime != null" >
        #{borrowerIdcardCertificationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="borrowerWorkCertification != null" >
        #{borrowerWorkCertification,jdbcType=INTEGER},
      </if>
      <if test="borrowerWorkCertificationTime != null" >
        #{borrowerWorkCertificationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="borrowerIncomeCertification != null" >
        #{borrowerIncomeCertification,jdbcType=INTEGER},
      </if>
      <if test="borrowerIncomeCertificationTime != null" >
        #{borrowerIncomeCertificationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="borrowerHouseCertification != null" >
        #{borrowerHouseCertification,jdbcType=INTEGER},
      </if>
      <if test="borrowerHouseCertificationTime != null" >
        #{borrowerHouseCertificationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="borrowerFieldCertification != null" >
        #{borrowerFieldCertification,jdbcType=INTEGER},
      </if>
      <if test="borrowerFieldCertificationTime != null" >
        #{borrowerFieldCertificationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="auditTime != null" >
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditLoanTerm != null" >
        #{auditLoanTerm,jdbcType=INTEGER},
      </if>
      <if test="auditLoanMoney != null" >
        #{auditLoanMoney,jdbcType=DOUBLE},
      </if>
      <if test="contractLoanMoney != null" >
        #{contractLoanMoney,jdbcType=DOUBLE},
      </if>
      <if test="consultingFee != null" >
        #{consultingFee,jdbcType=DOUBLE},
      </if>
      <if test="auditFee != null" >
        #{auditFee,jdbcType=DOUBLE},
      </if>
      <if test="serviceFee != null" >
        #{serviceFee,jdbcType=DOUBLE},
      </if>
      <if test="accessFee != null" >
        #{accessFee,jdbcType=DOUBLE},
      </if>
      <if test="yearRate != null" >
        #{yearRate,jdbcType=DOUBLE},
      </if>
      <if test="putMoney != null" >
        #{putMoney,jdbcType=DOUBLE},
      </if>
      <if test="creditorRightsType != null" >
        #{creditorRightsType,jdbcType=INTEGER},
      </if>
      <if test="matchStatus != null" >
        #{matchStatus,jdbcType=INTEGER},
      </if>
      <if test="collectStatus != null" >
        #{collectStatus,jdbcType=VARCHAR},
      </if>
      <if test="collectFinishTime != null" >
        #{collectFinishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="matchFinishTime != null" >
        #{matchFinishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loanContractPath != null" >
        #{loanContractPath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bjpowernode.p2padmin.creditor.model.CreditorRights" >
    update b_creditor_rights
    <set >
      <if test="applyNo != null" >
        apply_no = #{applyNo,jdbcType=VARCHAR},
      </if>
      <if test="intoSource != null" >
        into_source = #{intoSource,jdbcType=INTEGER},
      </if>
      <if test="applyProduct != null" >
        apply_product = #{applyProduct,jdbcType=INTEGER},
      </if>
      <if test="applyMoney != null" >
        apply_money = #{applyMoney,jdbcType=DOUBLE},
      </if>
      <if test="applyTerm != null" >
        apply_term = #{applyTerm,jdbcType=INTEGER},
      </if>
      <if test="applyPurpose != null" >
        apply_purpose = #{applyPurpose,jdbcType=VARCHAR},
      </if>
      <if test="borrowerRealname != null" >
        borrower_realname = #{borrowerRealname,jdbcType=VARCHAR},
      </if>
      <if test="borrowerIdcard != null" >
        borrower_idcard = #{borrowerIdcard,jdbcType=VARCHAR},
      </if>
      <if test="borrowerSex != null" >
        borrower_sex = #{borrowerSex,jdbcType=INTEGER},
      </if>
      <if test="borrowerAge != null" >
        borrower_age = #{borrowerAge,jdbcType=INTEGER},
      </if>
      <if test="borrowerEducation != null" >
        borrower_education = #{borrowerEducation,jdbcType=INTEGER},
      </if>
      <if test="borrowerMarital != null" >
        borrower_marital = #{borrowerMarital,jdbcType=INTEGER},
      </if>
      <if test="borrowerCity != null" >
        borrower_city = #{borrowerCity,jdbcType=INTEGER},
      </if>
      <if test="borrowerPresentAddress != null" >
        borrower_present_address = #{borrowerPresentAddress,jdbcType=VARCHAR},
      </if>
      <if test="borrowerBankAccount != null" >
        borrower_bank_account = #{borrowerBankAccount,jdbcType=VARCHAR},
      </if>
      <if test="borrowerOpenBank != null" >
        borrower_open_bank = #{borrowerOpenBank,jdbcType=VARCHAR},
      </if>
      <if test="borrowerHouseCount != null" >
        borrower_house_count = #{borrowerHouseCount,jdbcType=INTEGER},
      </if>
      <if test="borrowerCarCount != null" >
        borrower_car_count = #{borrowerCarCount,jdbcType=INTEGER},
      </if>
      <if test="borrowerWork != null" >
        borrower_work = #{borrowerWork,jdbcType=VARCHAR},
      </if>
      <if test="borrowerCompanyName != null" >
        borrower_company_name = #{borrowerCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="borrowerCompanyAddress != null" >
        borrower_company_address = #{borrowerCompanyAddress,jdbcType=VARCHAR},
      </if>
      <if test="borrowerWorkYear != null" >
        borrower_work_year = #{borrowerWorkYear,jdbcType=INTEGER},
      </if>
      <if test="borrowerMonthSalary != null" >
        borrower_month_salary = #{borrowerMonthSalary,jdbcType=DOUBLE},
      </if>
      <if test="borrowerCreditReportCertification != null" >
        borrower_credit_report_certification = #{borrowerCreditReportCertification,jdbcType=INTEGER},
      </if>
      <if test="borrowerCreditReportCertificationTime != null" >
        borrower_credit_report_certification_time = #{borrowerCreditReportCertificationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="borrowerIdcardCertification != null" >
        borrower_idcard_certification = #{borrowerIdcardCertification,jdbcType=INTEGER},
      </if>
      <if test="borrowerIdcardCertificationTime != null" >
        borrower_idcard_certification_time = #{borrowerIdcardCertificationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="borrowerWorkCertification != null" >
        borrower_work_certification = #{borrowerWorkCertification,jdbcType=INTEGER},
      </if>
      <if test="borrowerWorkCertificationTime != null" >
        borrower_work_certification_time = #{borrowerWorkCertificationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="borrowerIncomeCertification != null" >
        borrower_income_certification = #{borrowerIncomeCertification,jdbcType=INTEGER},
      </if>
      <if test="borrowerIncomeCertificationTime != null" >
        borrower_income_certification_time = #{borrowerIncomeCertificationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="borrowerHouseCertification != null" >
        borrower_house_certification = #{borrowerHouseCertification,jdbcType=INTEGER},
      </if>
      <if test="borrowerHouseCertificationTime != null" >
        borrower_house_certification_time = #{borrowerHouseCertificationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="borrowerFieldCertification != null" >
        borrower_field_certification = #{borrowerFieldCertification,jdbcType=INTEGER},
      </if>
      <if test="borrowerFieldCertificationTime != null" >
        borrower_field_certification_time = #{borrowerFieldCertificationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditStatus != null" >
        audit_status = #{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="auditTime != null" >
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditLoanTerm != null" >
        audit_loan_term = #{auditLoanTerm,jdbcType=INTEGER},
      </if>
      <if test="auditLoanMoney != null" >
        audit_loan_money = #{auditLoanMoney,jdbcType=DOUBLE},
      </if>
      <if test="contractLoanMoney != null" >
        contract_loan_money = #{contractLoanMoney,jdbcType=DOUBLE},
      </if>
      <if test="consultingFee != null" >
        consulting_fee = #{consultingFee,jdbcType=DOUBLE},
      </if>
      <if test="auditFee != null" >
        audit_fee = #{auditFee,jdbcType=DOUBLE},
      </if>
      <if test="serviceFee != null" >
        service_fee = #{serviceFee,jdbcType=DOUBLE},
      </if>
      <if test="accessFee != null" >
        access_fee = #{accessFee,jdbcType=DOUBLE},
      </if>
      <if test="yearRate != null" >
        year_rate = #{yearRate,jdbcType=DOUBLE},
      </if>
      <if test="putMoney != null" >
        put_money = #{putMoney,jdbcType=DOUBLE},
      </if>
      <if test="creditorRightsType != null" >
        creditor_rights_type = #{creditorRightsType,jdbcType=INTEGER},
      </if>
      <if test="matchStatus != null" >
        match_status = #{matchStatus,jdbcType=INTEGER},
      </if>
      <if test="collectStatus != null" >
        collect_status = #{collectStatus,jdbcType=VARCHAR},
      </if>
      <if test="collectFinishTime != null" >
        collect_finish_time = #{collectFinishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="matchFinishTime != null" >
        match_finish_time = #{matchFinishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loanContractPath != null" >
        loan_contract_path = #{loanContractPath,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bjpowernode.p2padmin.creditor.model.CreditorRights" >
    update b_creditor_rights
    set apply_no = #{applyNo,jdbcType=VARCHAR},
      into_source = #{intoSource,jdbcType=INTEGER},
      apply_product = #{applyProduct,jdbcType=INTEGER},
      apply_money = #{applyMoney,jdbcType=DOUBLE},
      apply_term = #{applyTerm,jdbcType=INTEGER},
      apply_purpose = #{applyPurpose,jdbcType=VARCHAR},
      borrower_realname = #{borrowerRealname,jdbcType=VARCHAR},
      borrower_idcard = #{borrowerIdcard,jdbcType=VARCHAR},
      borrower_sex = #{borrowerSex,jdbcType=INTEGER},
      borrower_age = #{borrowerAge,jdbcType=INTEGER},
      borrower_education = #{borrowerEducation,jdbcType=INTEGER},
      borrower_marital = #{borrowerMarital,jdbcType=INTEGER},
      borrower_city = #{borrowerCity,jdbcType=INTEGER},
      borrower_present_address = #{borrowerPresentAddress,jdbcType=VARCHAR},
      borrower_bank_account = #{borrowerBankAccount,jdbcType=VARCHAR},
      borrower_open_bank = #{borrowerOpenBank,jdbcType=VARCHAR},
      borrower_house_count = #{borrowerHouseCount,jdbcType=INTEGER},
      borrower_car_count = #{borrowerCarCount,jdbcType=INTEGER},
      borrower_work = #{borrowerWork,jdbcType=VARCHAR},
      borrower_company_name = #{borrowerCompanyName,jdbcType=VARCHAR},
      borrower_company_address = #{borrowerCompanyAddress,jdbcType=VARCHAR},
      borrower_work_year = #{borrowerWorkYear,jdbcType=INTEGER},
      borrower_month_salary = #{borrowerMonthSalary,jdbcType=DOUBLE},
      borrower_credit_report_certification = #{borrowerCreditReportCertification,jdbcType=INTEGER},
      borrower_credit_report_certification_time = #{borrowerCreditReportCertificationTime,jdbcType=TIMESTAMP},
      borrower_idcard_certification = #{borrowerIdcardCertification,jdbcType=INTEGER},
      borrower_idcard_certification_time = #{borrowerIdcardCertificationTime,jdbcType=TIMESTAMP},
      borrower_work_certification = #{borrowerWorkCertification,jdbcType=INTEGER},
      borrower_work_certification_time = #{borrowerWorkCertificationTime,jdbcType=TIMESTAMP},
      borrower_income_certification = #{borrowerIncomeCertification,jdbcType=INTEGER},
      borrower_income_certification_time = #{borrowerIncomeCertificationTime,jdbcType=TIMESTAMP},
      borrower_house_certification = #{borrowerHouseCertification,jdbcType=INTEGER},
      borrower_house_certification_time = #{borrowerHouseCertificationTime,jdbcType=TIMESTAMP},
      borrower_field_certification = #{borrowerFieldCertification,jdbcType=INTEGER},
      borrower_field_certification_time = #{borrowerFieldCertificationTime,jdbcType=TIMESTAMP},
      audit_status = #{auditStatus,jdbcType=INTEGER},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      audit_loan_term = #{auditLoanTerm,jdbcType=INTEGER},
      audit_loan_money = #{auditLoanMoney,jdbcType=DOUBLE},
      contract_loan_money = #{contractLoanMoney,jdbcType=DOUBLE},
      consulting_fee = #{consultingFee,jdbcType=DOUBLE},
      audit_fee = #{auditFee,jdbcType=DOUBLE},
      service_fee = #{serviceFee,jdbcType=DOUBLE},
      access_fee = #{accessFee,jdbcType=DOUBLE},
      year_rate = #{yearRate,jdbcType=DOUBLE},
      put_money = #{putMoney,jdbcType=DOUBLE},
      creditor_rights_type = #{creditorRightsType,jdbcType=INTEGER},
      match_status = #{matchStatus,jdbcType=INTEGER},
      collect_status = #{collectStatus,jdbcType=VARCHAR},
      collect_finish_time = #{collectFinishTime,jdbcType=TIMESTAMP},
      match_finish_time = #{matchFinishTime,jdbcType=TIMESTAMP},
      loan_contract_path = #{loanContractPath,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>